@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    margin-left: 10px;
    margin-right: 10px; 
    margin-top: 0; 
    padding: 0;
    background-color: black;
}
header{
    background-color: black;
    /* top: 0;
    z-index: 1; */
}
nav{
   display: flex;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 108px;
}
nav ul li{
    font-size: 18px;
    font-family:"DM Sans", sans-serif;
    list-style: none;
    padding: 0 9px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}

.active{
    color: #6e6e93;
    font-weight: bolder;
    transition: ease-in;

}
nav ul li a:hover{
    font-weight: bolder;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 275px;
    padding: 0 17px;
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: -238%;
    top: 83px;
}

.linee{
    width: 82px;
    background-color: white;
    height: 6px;
    margin: 18px 3px;
}




.container{
    display: flex;
    min-height: calc(100vh - 108px - 10vh);
    padding-inline: 20px;
} 

.heading-1{
    padding-top: 123px;
    width: 40vw;
}
h1{
    color: white;
    font-family:"DM Sans", sans-serif;
    font-weight: bolder;
    font-size: 55px;
    width: 24vw;
}

h2{
    font-size: 55px;
    background: transparent;
}
.heading-1 p{
    color: white;
    font-family:"DM Sans", sans-serif ;
    font-size: 20px;
}

.banner-1{
    padding-top: 0;
}




.work{
    width: 30vw;
    height: 150px;
    padding-top: 150px;
}
.work p{
    color: rgb(231, 2, 102);
    font-family:'Lato', sans-serif ;
    font-weight: bolder;
    font-size: 20px;
}

.work h2{
    color: white;
    font-family:"DM Sans", sans-serif;
    font-size: 55px;
}

.our-project{
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
}
.cards{
    width:30.33%;
    height: 470px;
} 
.cards img{
    width: 400px;
}

h4{
    color: white;
    font-family:"DM Sans", sans-serif; 
    font-size: 30px;
    padding-top: 10px;
    height: 12px;
}

.cards p{
    color: white;
    font-family: 'Lato', sans-serif; 
    font-size: 17px;
}

.sub-footer{
    height: 130vh;
    display: flex;
    background-image: url("subf.png");
    opacity: 50%;
    background-repeat: no-repeat;
    background-position: top;
    align-items: center;
    flex-direction: column;
}
.sp{
    background-color: transparent;
}
.sub-footer p{
    color: #ffdc60;
    font-family:"DM Sans", sans-serif;
    font-weight: bolder;
    font-size: 20px;
    background: transparent;
    padding-top: 175px;
}
 h5{
    color: white;
    font-family: "DM Sans", sans-serif; 
    font-size: 50px;
    background: transparent;
}

.l{
    width: 404px;
}

footer{
    height: 10vh;
    font-family:"DM Sans", sans-serif ;
    color: white;
}

@media screen and (max-width:500px){

    header {
        background-color: black;
    }
    nav {
        display: flex;
        flex-direction: column;
    }
    .logo img{
        width: 546px;
    }
    .logo {
        display: flex;
        align-items: center;
        padding-top: 31px;
    }
    nav ul {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 882px;
        flex-direction: column;
        padding-top: 15px;
    }
    nav ul li {
            font-size: 55px;
            font-family: "DM Sans", sans-serif;
            list-style: none;
            padding: 0 9px;
            padding-top: 58px;
    }
    .lettalk{
        justify-content: center;
        display: flex;
    }
    .burger{
        display: block;
    }
    .hnav{
        height: 311px;
    }
    .vclass{
        opacity: 0;
        justify-content: center;
    }

    .btn{
        font-size: 27px;
    }
    .container {
        flex-direction: column;
        width: 77rem;
    }
    h1{
        font-size: 125px;
    }
    .heading-1 p {
        font-size: 40px;
        width: 60%;
    }
    .heading-1 .btn {
        height: 84px;
        width: 274px;
    }
    h2{
        font-size: 80px;
    }
    
    .heading-1{
        width: 100%;
    }
    .banner-1 img{
        width: 90%;
    }
    .w{
        width: 80rem;
    }
    .work {
        width: 50%;
        height: 200px;
    }
    .work h2{
        font-size: 70px;
    }
    .work p{
        font-size: 35px;
    }

    .cards {
        width: 90%;
        height: 1200px;
    }
    .cards img {
        width: 103%;
    }
    h4{
        font-size: 65px;
    }
    .cards p{
        font-size: 45px;
    }

    .sub-footer{
        width: 77rem;
        height: 100vh;
    }
    footer{
        width: 77rem;
    }

}
@media screen and (max-width:1435px){
    .research{
        width: 80rem;
    }
    .analysis{
        width: 60%;
    }
    .feature-area{
        width: 82rem;
    }
    .w{
        width: 80rem;
    }
    .work{
        width: 60%;
    }
    .our-project{
        width: 80rem;
    }
    .work-2{
        width: 80rem;
    }
    .c-p{
        padding-top: 0px;
    }
    .sub-footer{
        width: 80rem;
        height: 85vh;
    }
    .flex-all-center{
        width: 80rem;
    }
}